#  1.

Values are ; ['hello',-87.8,6] 

Expressions are ; [*,-,+,/]

# 2.

String=String is a data type which can mention by '' or " " (invoted comma)

variable=Variable is the name of any list,string,tuple,dict to mention them as a single variable

# 3.

Three data types are i-String,ii-Int,iii-Float ;

string=its a data tye which can denoted by write something between ' ' or " " ,it can be a word or a number but must be in invoted comma.

Integer(int)=Int is a data type which is a whole number does not have fractional and decimal value .

Float = Float isi a data type which is a decimal number.

# 4.

An Expression is made up of constant,variables,operators,functions etc.

Constant=A fixed value or string

Variable=A name which contain string,float,int stored in memory and can retriev.

operators=Operatrs like arithmatic(-,+,/,*) ,comparision(==,<,>),logical(and,or,not) operators.

funstions call = Invocation of a function which return any values these can be in-build functions or user definwd functions.

# 5.

Expression  = Expression is made up of ocnstant,variable ,operators etc these are some indicators symbols

Statement= Statement is the full line of code which can perform some task and teh line will end with colon or semi coloon like if statement or for loop etc.

# 6.

In [1]:
baccon=22

baccon+1

23

# 7.

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam'*3

'spamspamspam'

# 8.

In python we know a variable must start with a letter or underscore but cant be start with an integer thats why eggs is a valid variable name but 100 is not

# 9.

In [5]:
# convert string to float

a="2736"
a_float=float(a)
a_float

2736.0

In [6]:
# convert string to int

a_int=int(a)
a_int

2736

In [7]:
# conert a int to string

b=3974
b_str=str(b)
b_str

'3974'

# 10.

[ 'I have eaten' + 99 +'burritos' ]  this will shows error because two different data type cant be add each other 
so by covert 99 from int to string then error  will fixed

In [8]:
# here error will show 
'I have eaten' + 99 +'burritos'

TypeError: can only concatenate str (not "int") to str

In [9]:
# here error will fixed 
'I have eaten' + '99' +'burritos'

'I have eaten99burritos'